<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- Spring-mvc:是一个典型的MVC框架,它基于Servlet是整个框架的核心 -->
    <!-- 1.扫描Spring注解 -->
    <context:component-scan base-package="com"></context:component-scan>
    <!-- 2.配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!-- 配置后置 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!-- 3.静态资源 -->
    <mvc:default-servlet-handler/>
    <!-- 4.开启springmvc注解 -->
    <mvc:annotation-driven/>
</beans>